/*
Theme Name: Mr. Tailor Child
Theme URI: http://mrtailor.getbowtied.com/
Description: This is a child theme for Mr. Tailor.
Author: Get Bowtied
Author URI: http: //www.getbowtied.com/
Template: mrtailor
Version: 1.0
*/

/* ***** START: The following styles were added by Novem Designs, LLC in June 2017 ***** */

/*** Shop Archives (List) Page
 *
 * We're adding the number of items in stock (or showing 'sold out' text).
 * This sits in a SPAN tag to make styling easier.
 *
 */

/* Adjust height of "price" container to make room for inventory count */
.product_after_shop_loop_price{ height: 70px; overflow: auto; }

/* Inventory stock style */
.nd-product-stock-remaining{ display: block; text-align: center; color: #c00; font-size: .8em; }



/*** Individual Product Page - Stock count (do not show)
 *
 * .product_infos -- use this container's class to prevent the inventory
 * count from showing under the price on individual product pages.
 * We don't need to show it as the theme already has a stock count
 * on this page.
 *
 */
.product_infos .nd-product-stock-remaining{ display: none; }


/*** Centering Title/Price/Stock Count
 *
 * General style rules to center the product title, price, and stock count.
 * This is for both product archive and individual product pages.
 *
 */

/* Center product name and price under the product image */
ul.products h3, .products ul h3, .product_after_shop_loop_price { text-align: center; }

/* 'Reset' left/right padding to make the product title truly centered */
ul.products h3{ padding-left: 15px !important; padding-right: 15px !important; }

/* Media Rules to center text for various screen sizes */
@media only screen and (max-width: 40.063em){ .product_infos .nd-product-stock-remaining{ text-align: center; } }
@media only screen and (max-width: 1023px){ .woocommerce #content div.product p.price{ text-align: center; } }


/*** Individual product Page - Up-Sell price and stock font size.
 *
 * Adjust font size of the price container. This will allow the price
 * and stock left to adjust as needed.
 *
 */
.nd-single-product-upsell .product_after_shop_loop_switcher .price{ font-size: 1em !important; }



/*** Individual Product Page - Up-Sell Layout and Styling
 *
 * General styling.
 *
 * Adjust the containers for the up-sell items. The theme is set to show 4 items in a row
 * but we only want 2 to make the images larger and easier to read (we have less room than
 * in the original area).
 *
 */

 /* Adjust the font size of the Up-Sell title to make it smaller */
.nd-single-product-upsell h2{ font-size: 1.5em; }

/* Set width to auto to remove the width set on this by the theme. Then set our own with to 50% (2 items in a row). */
.nd-single-product-upsell .up-sells.upsells.products .owl-wrapper{ width: auto !important; }
.nd-single-product-upsell .up-sells.upsells.products .owl-wrapper .owl-item{ width: 50% !important; }

/* Above changes can leave items floated incorrectly causing layout issues. Set a clear on ODD child to fix. */
.nd-single-product-upsell .owl-item:nth-child(odd){ clear: both; }


/*** Individual Product Page - "Moving" Up-Sells
 *
 * The theme shows Up-Sells at the bottom of the page. We moved these to show under the main product
 * image. However, when theme responds to show everything in one column this means the Up-Sell items
 * would be below the main product image but above the item description. To correct this when there's
 * a 2 column layout we show Up-Sells in our new location but hide it at the bottom. When we move to a
 * 1 column layout we hide the Up-Sells in our new location but show the originals at the bottom of the
 * page.
 *
 * These media queries handle this for us.
 *
 */
@media only screen and (max-width: 1023px){ .nd-single-product-upsell{ display: none; } }
@media only screen and (min-width: 1023px){ .single_product_summary_upsell{ display: none; } }

/* ***** END: Novem Designs, LLC - June 2017 ***** */
